process {

	$remove_host_1_2.container = "flowcraft/remove_host:2-0.1"
	$fastqc_1_3.container = "flowcraft/fastqc:0.11.7-1"
	$trimmomatic_1_3.container = "flowcraft/trimmomatic:0.36-1"
	$mashScreen_2_4.container = "flowcraft/mash-patlas:1.6.0-1"
	$mashOutputJson_2_4.container = "flowcraft/mash-patlas:1.6.0-1"
	$megahit_3_5.container = "flowcraft/megahit:1.1.3-0.1"
	$megahit_fastg_3_5.container = "flowcraft/megahit:1.1.3-0.1"
	$assembly_mapping_3_6.container = "flowcraft/bowtie2_samtools:1.0.0-1"
	$process_assembly_mapping_3_6.container = "flowcraft/bowtie2_samtools:1.0.0-1"
	$pilon_3_7.container = "flowcraft/pilon:1.22.0-1"
	$pilon_report_3_7.container = "flowcraft/pilon:1.22.0-1"
	$runMashDist_4_8.container = "flowcraft/mash-patlas:1.6.0-1"
	$mashDistOutputJson_4_8.container = "flowcraft/mash-patlas:1.6.0-1"
	$mlst_5_9.container = "ummidock/mlst:latest"
	$kraken2_6_10.container = "flowcraft/kraken2:2.0.7-1"
	$abricate_7_11.container = "flowcraft/abricate:0.8.0-3"
	$process_abricate_7_11.container = "flowcraft/abricate:0.8.0-3"

}