params {

	fastq = 'fastq/*_{1,2}.*'

	/*
	Component 'integrity_coverage_1_1'
	---------------------------------
	*/
	genomeSize_1_1 = 1
	minCoverage_1_1 = 0

	/*
	Component 'remove_host_1_2'
	--------------------------
	*/
	refIndex_1_2 = '/index_hg19/hg19'
	clearInput_1_2 = false

	/*
	Component 'fastqc_trimmomatic_1_3'
	---------------------------------
	*/
	adapters_1_3 = 'None'
	trimSlidingWindow_1_3 = '5:20'
	trimLeading_1_3 = 3
	trimTrailing_1_3 = 3
	trimMinLength_1_3 = 55
	clearInput_1_3 = false

	/*
	Component 'mash_screen_2_4'
	--------------------------
	*/
	noWinner_2_4 = false
	pValue_2_4 = 0.05
	identity_2_4 = 0.9
	refFile_2_4 = '/ngstools/data/plasmid_db_reference.msh'

	/*
	Component 'megahit_3_5'
	----------------------
	*/
	megahitKmers_3_5 = 'auto'
	fastg_3_5 = false
	clearInput_3_5 = false

	/*
	Component 'maxbin2_3_6'
	----------------------
	*/
	min_contig_lenght_3_6 = 1000
	max_iteration_3_6 = 50
	prob_threshold_3_6 = 0.9
	clearInput_3_6 = false

	/*
	Component 'mash_dist_4_7'
	------------------------
	*/
	pValue_4_7 = 0.05
	mash_distance_4_7 = 0.1
	shared_hashes_4_7 = 0.8
	refFile_4_7 = '/ngstools/data/plasmid_db_reference.msh'

	/*
	Component 'mlst_5_8'
	-------------------
	*/
	mlstSpecies_5_8 = null

	/*
	Component 'kraken2_fasta_6_9'
	----------------------------
	*/
	kraken2DB_6_9 = 'minikraken2_v1_8GB'

	/*
	Component 'abricate_7_10'
	------------------------
	*/
	abricateDatabases_7_10 = ["resfinder", "card", "vfdb", "plasmidfinder", "virulencefinder", "bacmet"]
	abricateDataDir_7_10 = null
	abricateMinId_7_10 = 75
	abricateMinCov_7_10 = 0


}