process {

	$remove_host_1_2.memory = {5.Gb*task.attempt}
	$remove_host_1_2.cpus = 3
	$fastqc_1_3.cpus = 2
	$fastqc_1_3.memory = '4GB'
	$trimmomatic_1_3.cpus = 2
	$trimmomatic_1_3.memory = { 4.GB * task.attempt }
	$mashScreen_2_4.cpus = 1
	$mashScreen_2_4.memory = { 4.GB * task.attempt }
	$mashOutputJson_2_4.cpus = 1
	$mashOutputJson_2_4.memory = '4GB'
	$megahit_3_5.cpus = 4
	$megahit_3_5.memory = { 5.GB * task.attempt }
	$megahit_3_5.scratch = true
	$assembly_mapping_3_6.cpus = 4
	$assembly_mapping_3_6.memory = { 5.GB * task.attempt }
	$process_assembly_mapping_3_6.cpus = 1
	$process_assembly_mapping_3_6.memory = { 5.GB * task.attempt }
	$pilon_3_7.cpus = 4
	$pilon_3_7.memory = { 7.GB * task.attempt }
	$pilon_report_3_7.cpus = 1
	$pilon_report_3_7.memory = { 7.GB * task.attempt }
	$runMashDist_4_8.cpus = 1
	$runMashDist_4_8.memory = { 4.GB * task.attempt }
	$mashDistOutputJson_4_8.cpus = 1
	$mashDistOutputJson_4_8.memory = '4GB'
	$kraken2_6_10.memory = {8.Gb*task.attempt}
	$kraken2_6_10.cpus = 4

}